.dash
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccf0f9;;
}
header.pathead {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    font-size: 20px;
  }
  
h1.pattitle {
    margin: 0;
  }
h2.pat-titles {
  margin-left:80px;
}
.table-container {
    height: 150px; 
    overflow-y: scroll; 
    scrollbar-width: 20px;
    scrollbar-color: #0a0336 #f2f2f2; 
    width:1100px;
    margin-left: 80px;
    border-color: #05142f;
    border-radius: 3px;
  }

  .table-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    background-color: #05142f; 
    color: white;
    font-weight: bold;
    padding: 10px;
  }

  .table-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    border-bottom: 1px solid #ddd;
    padding: 10px;
    transition: background-color 0.3s ease; 
    color: black;
    border-color: #05142f;
    border-radius: 3px;

  }

  .table-row:hover {
    background-color: #f2f2f2;
  }

  .table-row > div {
    transition: color 0.3s ease; 
  }

  .table-row:hover > div {
    color: #0d113d; 
  }
  .dashboardPat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }
  .card-pat {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .add-appoint {
    display: inline-flex;
    align-items: center;
    margin-top: 0px;
    margin-left: -10px;
    color: #080d13;
    text-decoration: none;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .appoint-ani{
    width:10px;
    height: 10px;
  }
  .add-appoint .appoint-ani {
    width: 50px;
    height: 50px;
    background-image: url('appointment.png');
    background-size: contain;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-left: 10px;
  }
  
  .add-appoint:hover {
    background-color: #f7fafc; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  
  .add-appoint:hover .appoint-ani {
    opacity: 1;
    transform: translateX(0);
  }
  
  @keyframes popIn {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }