.signIN{
    font-family: Arial, sans-serif;
    background-color: #b8d8f8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.form1 {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height:300px
  }
.form1 h1 {
    text-align: center;
}
.form1 input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    align-content: center;
  }
.form1 button {
    width: 96%;
    background-color: #050f32;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.form1 button:hover {
    background-color: #4b9e32;
}
.labels1{
    font-size: large; 
    font-weight:200;
    color:#050f32;
}
